@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes mb-logo-d {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 0px 0px 0px 60px;
    mix-blend-mode: screen;
  }
  
  .blur {
    filter:blur(10px);
    height: 100%;
  }
  
  .filterdodge {
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #808080;
    mix-blend-mode: color-dodge;
  }
  
  .filterburn {
    pointer-events: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    mix-blend-mode: color-burn;
  }
  
  .background span {
    color: #00ff66;
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  
  .background span:nth-child(0) {
    
    top: 85%;
    left: 98%;
    animation-duration: 13s;
    animation-delay: -3s;
    transform-origin: -1vw -11vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(1) {
    
    top: 75%;
    left: 14%;
    animation-duration: 23s;
    animation-delay: -46s;
    transform-origin: 19vw 12vh;
    width: 100vmin;
    height: 100vmin;
    box-shadow: 100vmin 0 0 currentColor;
  }
  .background span:nth-child(2) {
    
    top: 73%;
    left: 78%;
    animation-duration: 49s;
    animation-delay: -23s;
    transform-origin: 11vw -10vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(3) {
    
    top: 53%;
    left: 78%;
    animation-duration: 31s;
    animation-delay: -21s;
    transform-origin: 12vw -9vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(4) {
    
    top: 12%;
    left: 64%;
    animation-duration: 55s;
    animation-delay: -8s;
    transform-origin: -14vw -19vh;
    box-shadow: 100vmin 0 0 currentColor;
  }
  .background span:nth-child(5) {
    
    top: 55%;
    left: 96%;
    animation-duration: 46s;
    animation-delay: -20s;
    transform-origin: 1vw -13vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(6) {
    
    top: 55%;
    left: 85%;
    animation-duration: 39s;
    animation-delay: -49s;
    transform-origin: 23vw -20vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(7) {
    
    top: 44%;
    left: 83%;
    animation-duration: 53s;
    animation-delay: -17s;
    transform-origin: 25vw 11vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(8) {
    
    top: 47%;
    left: 30%;
    animation-duration: 34s;
    animation-delay: -4s;
    transform-origin: -12vw -9vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(9) {
    
    top: 15%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -45s;
    transform-origin: -2vw -8vh;
    box-shadow: 100vmin 0 0 currentColor;
  }
  .background span:nth-child(10) {
    
    top: 97%;
    left: 2%;
    animation-duration: 15s;
    animation-delay: -34s;
    transform-origin: 24vw 23vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(11) {
    
    top: 78%;
    left: 26%;
    animation-duration: 54s;
    animation-delay: -10s;
    transform-origin: -3vw 4vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(12) {
    
    top: 41%;
    left: 31%;
    animation-duration: 7s;
    animation-delay: -17s;
    transform-origin: -13vw 14vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(13) {
    
    top: 36%;
    left: 61%;
    animation-duration: 10s;
    animation-delay: -35s;
    transform-origin: -16vw -22vh;
    box-shadow: -100vmin 0 0 currentColor;
  }
  .background span:nth-child(14) {
    top: 49%;
    left: 100%;
    animation-duration: 43s;
    animation-delay: -39s;
    transform-origin: -14vw 3vh;
    box-shadow: -100vmin 0 0 currentColor;
  }