@media screen and (max-width: 920px), screen and (max-device-width: 920px) {
    .fullSizeBlockInner {
      width: 90%;
    }
    .ContentBlock {
        padding: 40px 30px;
        width: calc(100% - 84px);
        max-width: 776px;
    }
    .Title {
      font-size: 2.25em;
    }
    .Subtitle {
      font-size: 1.25rem;
      text-align: left;
    }
    #twitch-embed {
        height: 180px;
        width: 100%;
    }
}